*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
html{
    font-family: sans-serif;
    height: 100%;
}

header{
    background-image: url(../images/mobile/image-header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    padding: 30px;
}
header h1{
    font-family: 'Fraunces_72pt-Regular';

}
nav{
    display: flex;
    align-items: center;
}
.head-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    
}
aside{
    font-size: 1.5rem;
    font-weight: 700;
}
#btnMenu{
    cursor: pointer;
    background-color: transparent;
    border: none;
    
}
nav a{
    color: white;
    text-decoration: none;
    
}
.menu-principal li{
    list-style: none;
    padding: 20px;
    display: inline-block;
}
.menu-principal{
    display: none;
}
#contact{
    font-weight: 600;
    color: #19536b;
    background-color: white;
    padding: 13px;
    border-radius: 25px;   
}
.menu{
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 9px;
    background-color: white;
    display: none;
    z-index: 1001;
}
.menu button{
    top: 10px;
    right: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
}
.menu ul{
    list-style: none;
    padding: 3px 0 0;
    
}
.menu li{
    margin: 10px 0;
}
.escondido{
    text-align: center;
    font-size: 20px;
    
}
.escondido a{
    color: black;
}
.escondido li{
    padding: 10px;   
}
.contact{
    background-color: rgb(255, 213, 0);
    font-weight: 700;
    padding: 13px;
    border-radius: 20px;
}

header h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 90px;
    font-size: 4rem; 
}
.fundo{
    color: hsl(167, 40%, 24%);
    position: relative;
    width: 100%;
}
.fundo-img img{
    width: 100%;
}
.fundo-text{
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    text-align: center;
    width: 90%;
}
.fundo-text h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.7rem;
}

.fundo-text p{
    line-height: 35px;

    margin: 40px 0;
    font-weight: 700;
}
div.conteiner, div.conteiner2{
    display: flex;
    flex-direction: column;
}
div.conteiner .conteiner-text, div.conteiner2 .conteiner-text{
    width: 80vw;
    color: hsl(198, 62%, 26%);
    padding: 15px;
    margin: 90px auto;
    text-align: center;   
}

div.conteiner .conteiner-img img, div.conteiner2 .conteiner-img img{
    width: 100%;
    height: auto;
}

div.conteiner .conteiner-text h1, div.conteiner2 .conteiner-text h1{
    font-size: 2.0rem;
}

div.conteiner .conteiner-text p,div.conteiner2 .conteiner-text p{
    line-height: 35px;
    font-size: 1rem;
    margin: 50px 0;
}

div.conteiner .conteiner-text h2,div.conteiner2 .conteiner-text h2{
    font-size: 1.2rem;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
div.conteiner .conteiner-text h2:hover::after,div.conteiner2 .conteiner-text h2:hover::after{
    width: 100%;
}
div.conteiner2 .conteiner-text h2::after{
    content: "";
    position: absolute;
    width: 0;
    background-color: rgb(238, 81, 81);
    height: 2px;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
}
div.conteiner .conteiner-text h2::after{
    content: "";
    position: absolute;
    width: 0;
    background-color: rgb(249, 249, 12);
    height: 2px;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
}
.desktop{
    display: none;
}
/*Testemunhos*/

div.conteiner-testemunho h1{
    margin-top: 30px;
    font-size: 1.8rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: hsl(210, 4%, 67%);
}
div.conteiner-text{
    color: hsl(198, 62%, 26%);
    padding: 15px;
    margin: 50px auto;
    text-align: center;}
div.conteiner-text h2{
    margin: 20px 0;
}
 div.conteiner-text p{
    font-weight: 500;
    margin: 20px auto;
    width: 65%;
}
.profissao{
    font-size: 0.86rem;
    font-family: sans-serif;
    text-align: center;
    color: hsl(210, 4%, 67%);
}
 div.conteiner-text img{
    border-radius: 50%;   
}
.galeria {
    width: 100%;
}
.galeria-grop-sec,.galeria-grop-frst {
    display: flex;
    width: 100%;
}
.galeria-image img{
    width: 100%;   
}
footer{
    color: hsla(166, 39%, 15%, 0.628);
    background-color: hsl(166, 74%, 68%);
    text-align: center;
    padding: 55px;
    height: 70vh;
}
.footer-menu{
    margin: 40px 0px;
    justify-content: space-around;
    display: flex;
}
.mudarCor{
    color: #17352ea0;
    text-decoration: none;
}
.footer-title h1{
    padding: 15px;
    font-size: 1.5rem;
    font-weight: 900;    
}
.footer-icons{
    display: flex;
    margin-top: 120px;
    gap: 25px;
    justify-content: center;    
}
.footer-icons img{
    cursor: pointer;
}
